@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Colors */
  --color-background: #f9f9f9;
  --color-primary: #e50914;

  /* Shadow */
  --shadow-01:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: var(--color-background);
  color: #000000;
}

/* Progress Stepper Css */

.stepper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-name {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  max-width: 10rem;
}

.active .step-number {
  background-color: #ccc;
  color: black;
}

.complete .step-number {
  background-color: var(--color-primary);
  color: #fff;
}

.progress-bar {
  position: absolute;
  top: 18%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}

.progress {
  height: 100%;
  background-color: var(--color-primary);
  transition: 0.2s ease;
}
